* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
}
.game {
  width: 800px;
  height: 400px;
  background-color: skyblue;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  border-bottom: 50px solid green;
}
.mario {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.mario img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.obstacle {
  width: 40px;
  height: 70px;
  background-color: brown;
  position: absolute;
  left: 800px;
  bottom: 0;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.score {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 22px;
  font-weight: bold;
}
.game-over {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(15, 13, 13, 0.7);

  display: none;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 10;
}

.game-over h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
}

.game-over button {
  padding: 12px 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
