* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
}
.game {
  width: 800px;
  height: 400px;
  background-color: skyblue;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  border-bottom: 50px solid green;
}
